* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}
:root{
    --color-header : #78B3CE;
    --color_principal: #C9E6F0;
    --color_secundario:#FBF8EF;
}
.contenido {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "encabezado "
        "principal "
        "footer ";
}

.titulo {
    font-size: clamp(1.3rem, 3vw, 1.9rem);
    color: #0D47A1 ;
}

.nav {
    font-size: clamp(1.1rem, 2.5vw, 1.3rem);
    color: #0D47A1;
    font-weight: 600;
}

.sobre_mi_nav {
    white-space: nowrap;
}

.encabezado {
    grid-area: encabezado;
    background-color: var(--color-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.menu_nav ul {
    list-style: none;
    padding: 1rem;
    display: flex;


}

.menu_nav ul li {
    margin-left: 2rem;
}

.menu_nav ul li a {
    text-decoration: none;
}

.principal {
    grid-area: principal;
    background-color: var(--color_secundario);
    padding: 1rem 2rem 0 2rem;
}.introduccion img{
    width: 100%;
    max-width: 400px;
}iframe{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 10px;
    
}
.recursos_nav{
    text-decoration: none;

}
footer {
    grid-area: footer;
    background-color: black;
   color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem 0 1rem 1rem;
}

.nav_footer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.nav_footer a {
    text-decoration: none;
    color: white;
}

@media (max-width: 480px) {
    .encabezado {
        flex-direction: column;

    }

    .menu_nav ul {}
}